.main-layout {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  padding: 3rem;
  background-color: #bbb;
  border-radius: 5px;
}
.todo-task {
  padding: 1rem 5rem;
  margin: .5rem;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}
.todo-task:hover {
  box-shadow: 0 0 5px black;
}